{{define "title"}}ダイアリー追加{{end}}

{{define "body"}}
<h1><a href="/diaries">{{.User.Name}}</a>さん</h1>

<form action="/diaries/new" method="POST">
    <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
    <div>日記の名前: 
        <input type="TEXT" name="name">
    </div>
    <input type="submit" value="新規作成"/>
</form>
{{end}}