{{define "title"}}記事{{end}}

{{define "body"}}
<h1><a href="/diaries">{{.User.Name}}</a>さんの<a href="/diaries/{{.Diary.ID}}/articles">{{.Diary.Name}}</a></h1>

タイトル: <br>
<div>
    <h2>{{.Article.Title}}</h2>
</div>
内容: <br>
<div>
    {{.Article.Content}}
</div>
{{end}}