{{define "title"}}記事一覧{{end}}

{{define "body"}}
<h1><a href="/diaries">{{.User.Name}}</a>さんの{{.Diary.Name}}</h1>
<div>
    <a href="/diaries/{{.Diary.ID}}/articles/new">記事を追加する</a>
</div>
<ul>
{{range .Articles}}
    <li>
        <div>
            <a href="/diaries/{{$.Diary.ID}}/articles/{{.ID}}">{{.Title}}</a><br>
            {{.UpdatedAt}}
            <form action="/diaries/{{$.Diary.ID}}/articles/{{.ID}}/delete" method="POST">
                <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                <input type="submit" value="消去"/>
            </form>
        </div>
    </li>
{{end}}
</ul>
{{end}}