{{define "title"}}ダイアリー一覧{{end}}

{{define "body"}}
<h1><a href="/diaries">{{.User.Name}}</a>さん</h1>

<form action="/signout" method="POST">
    <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
    <input type="submit" value="ログアウト"/>
</form>

<div>
    <a href="/diaries/new">ダイアリーを追加</a>
</div>
<br>

{{range .Diaries}}
<div>
    <a href="/diaries/{{.ID}}/articles">{{.Name}}</a> {{.UpdatedAt}}
    <form action="/diaries/{{.ID}}/delete" method="POST">
        <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
        <input type="submit" value="消去"/>
    </form>
</div>

{{end}}

{{end}}