{{define "title"}}ダイアリー{{end}}

{{define "body"}}
<h1>ダイアリー</h1>

{{if .User}}
    ユーザー名: {{.User.Name}}
    <div>
        <a href="/spa">{{.User.Name}}さんのダイアリー一覧</a>
    </div>
    <form action="/signout"  method="POST">
        <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
        <input type="submit" value="ログアウト"/>
    </form>
{{else}}
    <a href="/signup">ユーザー登録</a>
    <a href="/signin">ログイン</a>
{{end}}

{{end}}
